:root {
    --darker: #202124;
    --dark: #292A2D;
    --lighterdark: #31353C;
    --lighterlighterdark: #494c52;
    --text-white: #E8EAED;
    --text-gray: #9AA0A6;
    --text-link-blue: #8AB4F8;
    --border-gray: #5F6368;
}