:root {
    --darker: #000;
    --dark: #111111;
    --lighterdark: #222222;
    --lighterlighterdark: #333333;
    --text-white: #E8EAED;
    --text-gray: #9AA0A6;
    --text-link-blue: #8AB4F8;
    --border-gray: #5F6368;
}