:root{
    --col1: #1e1e1e;
    --col2: #252525;
    --col3: #2d2d30;
    --col4: #3e3e42;
    --hg1: #007acc;
    --text-color: #fff;
    --text-gray: #CCC;
    --link-color: #a9e5ff;
    --panel-shadow: #000;
}