/*
Global
*/


*{
  color: var(--text-color);
}
body,
html,
#wrapper {
  background: var(--col1);
  color: var(--text-color);
}

a:link,
a:visited,
a:link:hover {
  color: var(--link-color);
}

.glyphicon {
  color: var(--text-color) !important;
}

::-webkit-scrollbar {
  width: 7.5px;
}
::-webkit-scrollbar-track {
  background: var(--col2);
}
::-webkit-scrollbar-thumb {
  background: var(--col4);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--link-color);
}

#nightservthemeimage{
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

span.brand{
  z-index: 1;
}

/*
Sidebar
*/

div#wrapper div#sidebar-wrapper {
  background-color: var(--col1);
  border: none;
}

.sidebar-profile .dropdown a.dropdown-toggle {
  color: var(--text-color);
}

.sidebar-nav .nav-item a span.item-label, #menu-wrapper .nav-divider.mt0, #menu-all-modules{
    color: var(--text-color);
}

ul#sidebar-nav-header li.sidebar-brand, #menu-wrapper .nav-divider.mt0, #menu-all-modules{
    border: none;
}

ul.sidebar-nav li.nav-item a:hover{
    background-color: var(--col2) !important;
}

 ol.breadcrumb > li > a.bc,  ol.breadcrumb > li > a.bc:hover{
  color: var(--text-color);
  background-color: transparent;
}

.panel {
  border: none !important;
  background-color: transparent !important;
}

.btn.btn-default{
  background-color: var(--col2) !important;
  border: none !important;
  border-radius: 5px;
}

.btn.btn-default:hover, .btn-default:focus, .dropdown-toggle.btn-default:active, .dropdown.open > .btn-default{
  background-color: var(--col3) !important;
}

a:any-link.btn.btn-default:hover, a:visited:hover{
  color: var(--link-color);
}

ul.dropdown-menu{
  background-color: var(--colP);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}

ul > li > a{
  color: var(--text-color) !important;
}

ul.dropdown-menu > li.active{
  background-color: var(--hg1);
}

.btn.btn-default.dropdown-toggle{
  color: var(--text-color) !important;
}

div.form-group > div.btn-group{
  background-color: transparent;
}

/*
IServ Start
*/

/* This fixes scrolling the body, while scrolling the content.*/
body{
    overflow: hidden;
}

.page-content.inset{
    overflow: scroll !important;
    height: 100vh !important;
    position: relative !important;
}
/**/

.header-meta span, .divider{
    color: var(--text-color)
}

.header-breadcrumb ol.breadcrumb{
    background-color: transparent;
}

#page-content-wrapper div#topbar{
    background-color: var(--col2);
    border: none;
}

.content-header.clearfix{
    background-color: transparent;
    border: none;
}

.panel .panel-body, #mail-item-list {
  border-radius: 10px 10px 0px 0px;
}

.panel .panel-footer {
  border-radius: 0px 0px 10px 10px;
}

#idesk-news .row.news {
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
}

#idesk-news > hr {
  opacity: 0;
  height: 10px;
}

.mb.text-secondary {
  color: var(--text-gray);
}

div.page-content.inset div.row div.col-md-12 h1.mt0 {
  display: none;
}

#idesk-main .panel,
#idesk-sidebar .panel {
  background-color: transparent;
  border: none;
}

#idesk-main .panel #mail-item-list .mail-item {
  border-bottom: none;
}

#idesk-main .panel #mail-item-list .mail-item:hover {
  background-color: var(--col3);
}

.panel .panel-body,
.panel #mail-item-list,
.panel .panel-footer {
  background-color: var(--col2) !important;
}

#idesk-main .panel .panel-heading,
#idesk-sidebar .panel-default .panel-heading {
  background-color: transparent;
  display: none;
}

.home-calendar .list-group-item {
  background-color: transparent;
}

.panel .panel-body table, .panel-body table tbody {
  background-color: transparent;
}

/*
Plans
*/

div.list-group a.list-group-item{
  background-color: var(--col2);
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}

div.list-group a.list-group-item:hover{
  background-color: var(--col3);
}
div.list-group a.list-group-item div.media-body h4{
  color: var(--text-color);
}

div.panel > div.panel-heading{
  background-color: transparent;
  border: none;
}

/*
Excercises
*/

#crud-table{
  background-color: transparent;
  border: none;
}

#crud-table > tbody > tr{
  background-color: transparent;
}

table > tbody > tr[role=row]:hover{
  background-color: var(--col2) !important;
}

tr[role=row] > td{
  padding: 10px !important;
  color: var(--text-color);
}

#crud-table_info{
  color: var(--text-gray);
}

/*
Excercises
*/

.panel-heading h3{
  display: none;
}

.panel table{
  background-color: var(--col2);
  border-radius: 10px;
  margin-bottom: 5px !important;
}

.border-gray{
  border: none !important;
}

tr > td, tr > th{
  border: none !important;
}

#file-upload-container{
  background-color: var(--col3);
  border: none;
  border-radius: 10px;
}
td > span.text-muted{
  color: var(--text-gray);
}
div > div.file-universal-dropzone-hint{
  color: var(--text-color);
}

select#confirmation_confirmed{
  background-color: var(--col3);
  border: none;
  color: var(--text-color);
  border-radius: 5px;
  padding: 5px;
}

/*
email
*/


div.input-group .form-control{
  background-color: var(--col2);
  border: none;
  color: var(--text-color);
}
#message-list-body > tr.message-row:hover, #message-list-body > tr.message-row:active, tr.message-row.active > td, tr.active > td{
  background-color: var(--col2) !important;
}
#mailboxTree > li:hover{  
  background-color: var(--col1);
}
#mailboxTree > li > a.mailbox:focus{
  background-color: var(--col1);
}

#mailboxTree > li > a.mailbox:hover{
  background-color: transparent;
}

#iserv_mail_search_options{
  background-color: var(--colP);
  color: var(--text-color);
}

li.dropdown-header{
  color: var(--text-color)
}

.c1:before{
  content: "U";
  background: none !important;
}

.c2:before{
  content: "w";
  background: none !important;
}

.c3:before{
  content: "U";
  background: none !important;
}

.iserv-loading-indicator > .c1, .iserv-loading-indicator > .c2, .iserv-loading-indicator > .c3{
  width: 8px !important;
  height: 0px !important;
}

.iserv-loading-indicator{
  display: inline-block !important;
}

.page-loader{
  background-color: var(--colP) !important;
  color: var(--text-color);
}

select#mail-entries, select#mail-page{
  background-color: var(--col3);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#message-list-body tr#no-messages-in-list{
  color: var(--text-color);
}
#message-list-body tr#no-messages-in-list:hover{
  background-color: transparent;
}

option {
  background-color: var(--col4) !important;
}

div.panel-body > div#message-header, div.panel > div#message-footer{
  background-color: var(--col3) !important;
  border: none !important;
}

div.selectize-input{
  background-color: var(--col2);
  border: none;
  border-radius: 5px;
}

div.selectize-input > div{
  background-color: var(--col3) !important;
  border: none;
  border-radius: 5px !important;
  color: var(--text-color) !important;
}

input{
  color: var(--text-color) !important;
}

div.selectize-dropdown-content{
  background-color: var(--colP);
  border: none;
  color: var(--text-color);
}

.create{
  color: var(--text-color) !important;
}
.text-muted{
  color: var(--text-gray) !important;
}
div.selectize-dropdown{
  border: none !important;
}

input{
  background-color: var(--col2) !important;
  border: none !important;
  border-radius: 5px;
  color: var(--text-color) !important;
}

div.mail-action-bar{
  border-radius: 0px 0px 10px 10px;
  background-color: var(--col1);
  border: none;
}

textarea#iserv_mail_compose_content{
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-radius: 10px 10px 0px 0px;
}

div.editor{
  border-radius: 10px 10px 0px 0px;
  background-color: var(--col1);
}

div.jconfirm-box{
  border:none;
  background-color: var(--colP) !important;
}

div.jconfirm-buttons{
  background-color: transparent;
}

button#iserv_mail_compose_actions_save{
  color: var(--text-color);
}

div#messages-growl-container > div , div.alert{
  background-color: var(--colP);
}