:root {
  --darker: #202124;
  --dark: #292a2d;
  --lighterdark: #31353c;
  --lighterlighterdark: #494c52;
  --text-white: #e8eaed;
  --text-gray: #9aa0a6;
  --text-link-blue: #8ab4f8;
  --border-gray: #5f6368;
}

html, body{
    background-color: var(--darker);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-white);
    overflow-x: hidden;
}

#header{
    font-size: 3vw;
}

div#badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3cb55b;
    border-radius: 0px 0px 0px 5px;
    color: #ffffff;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding: 4px 6px;
  }

  .themes{
    display: flex;
    flex-wrap: wrap;
  }

  .theme{
    position: relative;
    width: 280px;
    border: 4px solid var(--border-gray);
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0;
  }

  .theme:hover{
    border: 4px solid var(--text-link-blue);
  }

  .theme #selectedtext{
    position: absolute;
    bottom: 0;
    left: 10px;
    background-color: var(--dark);
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 10px;
  }

  .theme .themename{
    position: absolute;
    top: 0;
    right: 10px;
    background-color: var(--dark);
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 10px;
  }

  .theme.selected{
    border: 4px solid #77dd77;
    cursor: no-drop;
  }

  

  .theme .themeimg{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  #mocs{
    position: absolute;
    bottom: 0;
    font-size: 3vw;
    text-align: center;
    margin: auto;
    opacity: 0.3;
  }

  footer{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /**
  overlay
  **/

  #overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: var(--darker);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fcf;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  