:root {
    --bsa1: #C9FFDD;
    --bsa2: #94FFBB;
    --bsa3: #90EFB3;
    --bsa4: #94FFBB;
    --text-o: #000;
    --text-g: #9aa0a6;
    --text-d: #000;
    --text-lb: #5555ff;
    --border-g: #5f6368;
    --scrollbar: #90EFB3;
  }