:root {
    --bsa1: #C8E8FF;
    --bsa2: #B3E0FF;
    --bsa3: #A7DCFE;
    --bsa4: #97D5FE;
    --text-o: #000;
    --text-g: #9aa0a6;
    --text-d: #000;
    --text-lb: #5555ff;
    --border-g: #5f6368;
    --scrollbar: #97D5FE;
  }