:root {
    --bsa1: rgba(32,33,36, 0.1);
    --bsa2: rgba(41, 42, 45, 0.1);
    --bsa3: rgba(49,53,60, 0.3);
    --bsa4: rgba(73,76,82,0.1);
    --text-o: #e8eaed;
    --text-g: #9aa0a6;
    --text-lb: #8ab4f8;
    --border-g: #5f6368;
    --scrollbar: #5f6368;
  }

  .collapse.navbar-collapse, .navbar.navbar-default, .content-header{
    background: transparent !important;
  }
  .table.dataTable>tfoot, #crud-table>tfoot, .panel-crud-filter{
    background: rgba(41,42,45, 0.5) !important
  }

  body{
    background-color: var(--bsa1);
  }