:root {
  --bsa1: #fff;
  --bsa2: #f6f6f6;
  --bsa3: #ececec;
  --bsa4: #e1e1e1;
  --text-o: #000;
  --text-g: #9aa0a6;
  --text-d: #000;
  --text-lb: #5555ff;
  --border-g: #5f6368;
  --scrollbar: #c1c1c1;
}