:root {
  --bsa1: #FFD6FF;
  --bsa2: #E7C6FF;
  --bsa3: #C8B6FF;
  --bsa4: #B9C0FF;
  --text-o: #000;
  --text-g: #9aa0a6;
  --text-d: #000;
  --text-lb: #5555ff;
  --border-g: #5f6368;
  --scrollbar: #B9C0FF;
}